.clearfix:after {
    content: '';
    display: table;
    font-size: 0;
    visibility: hidden;
    clear: both;
}

.bg-img {
    position: fixed;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

.bg-img img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.user-login {
    padding-top: 100px;
}

.user-login {
    padding-top: 60px;
    width: 540px;
    margin: 0 auto;
}

.back-title a {
    display: block;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.back-title a b {
    font-family: 'simsun';
    font-weight: 700;
}

.login-wrap {
    background-color: #fff;
    min-height: 510px;
    padding: 40px 80px 30px;
    position: relative;
}

.login-wrap .logo {
    margin-bottom: 40px;
    text-align: center;
}

.common-form li {
    margin-bottom: 20px;
    position: relative;
}

#float-captcha {
    margin: 0 auto;
    display: inline-block;
    height: auto;
    outline: 0;
    color: #989797;
}

.sm-btn-wrapper {
    position: relative;
}

.sm-btn {
    line-height: 42px;
    border: 1px solid #ddd;
    cursor: pointer;
    overflow: hidden;
}

.sm-btn-default .sm-ico,
.sm-btn-fail .sm-ico,
.sm-btn-loading .sm-ico,
.sm-btn-success .sm-ico {
    position: relative;
    background: none;
    display: inline-block;
    margin-top: -3px;
    margin-left: 12px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
}

.sm-btn-default .sm-ico-wave,
.sm-btn-loading .sm-ico-wave,
.sm-btn-success .sm-ico-wave {
    background-image: linear-gradient(0deg, #3a9afa, #00de76);
}

.sm-btn-default .out-silder-circle {
    animation: defaultOutsideWave 1.5s ease infinite;
}

.sm-btn-default .out-silder-circle,
.sm-btn-loading .out-silder-circle {
    position: absolute;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    top: 0;
}

.sm-btn-default .out-silder-circle {
    background: #c3efe8;
}

.sm-txt {
    margin-left: 20px;
    font-size: 14px;
    vertical-align: middle;
    color: #3c3c3c;
    white-space: pre-wrap;
}

#rectMask,
#sm-btn-bg {
    overflow: hidden;
    position: absolute;
}

#rectMask {
    top: 0;
    left: 0;
}

#sm-btn-bg {
    background-image: linear-gradient(0deg, #ededed, #fff);
    cursor: pointer;
    z-index: -1;
    top: 1px;
    left: 1px;
}

#rectMask,
#sm-btn-bg {
    overflow: hidden;
    position: absolute;
}

.authcode-wrap {
    width: 165px;
    margin-right: 25px;
}

.fl {
    float: left;
}

.authcode-wrap input {
    width: 148px;
    outline: none;
}

.common-form input {
    padding: 0;
    display: block;
    width: 363px;
    height: 44px;
    vertical-align: middle;
    border: 1px solid #CCC;
    padding-left: 15px;
    outline: none;
}

.protocol .has-agreed {
    background: red;
    background-size: 100% 100%;
}

.get-vercode {
    float: left;
    width: 180px;
    height: 42px;
    background-color: #e42837;
    text-align: center;
    font: 14px/42px 'simsun';
    color: #fff;
    border: 1px solid #e42837;
    cursor: pointer;
    outline: none;
}

.protocol .radio-box {
    display: inline-block;
    width: 20px;
    height: 16px;
    border: solid 1px #ccc;
    position: relative;
    top: 4px;
}

.protocol a {
    color: #4dbcff;
}

.common-form .submit-btn,
.common-form .reg-btn {
    border: none;
    background-color: #e42837;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    width: 380px;
    padding: 0;
}

.login-method {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 15px;
    text-align: center;
}

.error-tips {
    color: #f36c79;
    /* line-height: 24px; */
    padding: 5px 0 5px 15px;
    /* height: 14px; */
    border: 1px solid #f36c79;
    background-color: #f5d7d7;
    clear: both;
}

.authcode-wrap input {
    width: 148px;
}

.login-method a {
    display: inline-block;
    color: #4dbcff;
    font-size: 16px;
    line-height: 26px;
    padding-left: 25px;
    background-position: left center;
    background-repeat: no-repeat;
}

.login-method .login-weixin {
    /* background-image: url(../images/wechat-logo.png); */
    padding-right: 15px;
    padding-left: 37px;
    border-right: 1px dotted #999;
    margin-right: 13px;
}

.login-method .login-qq {
    /* background-image: url(../images/qq-logo.png); */
    padding-right: 15px;
    border-right: 1px dotted #999;
    margin-right: 13px;
}

.pop-wrap {
    position: absolute;
    width: 658px;
    height: 318px;
    left: 50%;
    top: 50%;
    margin-left: -330px;
    margin-top: -160px;
    border: 1px solid #DDD;
    background-color: #FFF;
    z-index: 500;
    display: none;
}

.pop-hd {
    height: 46px;
    background-color: #EAE9E9;
    text-align: center;
    font: 18px/46px 'microsoft yahei';
    color: #333;
    position: relative;
}

.pop-txt {
    padding: 70px 0;
    text-align: center;
    font: 14px/30px 'simsun';
    color: #333;
}

.pop-btn {
    width: 430px;
    margin: 0 auto;
}

.pop-wrap-info {
    position: absolute;
    width: 350px;
    height: 110px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -160px;
    border: 1px solid #DDD;
    background-color: #FFF;
    z-index: 500;
    display: none;
}

.pop-txt-info {
    padding: 40px 0;
    text-align: center;
    font: 14px/30px 'simsun';
    color: #333;
}

#cboxOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    /* opacity: 0.4; */
    outline: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}